<aside class="sidebar" id="sidebar">
	<div class="sidebar__header">
		<img src="/assets/images/sidebar.jpg" alt="">
	</div>
	<div class="sidebar__content">
		<div class="profile">
				<img src="assets/images/avatar.jpg" alt="" class="profile__avatar">
				<!-- <img src="https://placehold.it/100" alt="" class="profile__avatar"> -->
			<div class="profile__header">
				<div class="profile__name">Name Surname</div>
				<div class="profile__prof">Some blog description</div>
			</div><!-- /.profile__header -->

			<ul class="social">
				<li class="social__item">
					<a href="#" class="social__link">
						<img src="assets/images/social/instagram.svg" alt="instagram">
					</a>
				</li>
				<li class="social__item">
					<a href="#" class="social__link">
						<img src="assets/images/social/vk.svg" alt="vk">
					</a>
				</li>
				<li class="social__item">
					<a href="#" class="social__link">
						<img src="assets/images/social/pinterest.svg" alt="pinterest">
					</a>
				</li>
			</ul>

			<div class="profile__text">
				<p>Lorem, ipsum dolor sit amet consectetur, adipisicing elit. Numquam ullam sint animi, et dolorem laboriosam neque, tempore perferendis officia illo alias consectetur eius eligendi cum.</p>
			</div>

		</div><!-- /.profile -->

		<nav class="nav nav--mobile">
				<ul class="nav__list">
					<li>
						<a class="nav__link" href="/">Main</a>
					</li>
					<li class="nav__item">
						<a class="nav__link nav__link--has-subnav" href="#">Article</a>

						<ul class="subnav">
							<li>
								<a class="subnav__link" href="#">Websites creation</a>
							</li>
							<li>
								<a class="subnav__link" href="#">Internet marketing</a>
							</li>
							<li>
								<a class="subnav__link" href="#">Video promotion</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="nav__link" href="text.html">About me</a>
					</li>
					<li>
						<a class="nav__link" href="text.html">Advertisement</a>
					</li>
					<li>
						<a class="nav__link" href="profile.html">Profile</a>
					</li>
					<li>
						<a class="nav__link" href="#">Log out</a>
					</li>

				</ul>
		</nav>
		
	</div><!-- /.sidebar__content -->
	<div class="sidebar__footer">
		<a href="works.html" class="btn btn--red">My works</a>
		<button class="btn btn--blue" type="button" data-modal="contact-modal">Wrtite me</button>
	</div>
</aside>